body {
    background: white;
}

.greeting {
    font-family: "Work Sans";
    font-weight: 200;
    align-items: center;
    font-size: 32px;
}

.tableCol {
    width: 300px;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: #f3e9d4;
}

::-webkit-scrollbar-thumb {
    background: #393812a8;
    -webkit-border-radius: 7px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}
